html, body{
  scroll-behavior: smooth;
}

/* For mobile screens (up to 768px) */
@media (max-width: 768px) {
    #hero.hero-section {
      background-attachment: scroll; /* Switch to scroll behavior */
      background-size: cover; /* Ensure it covers the entire section */
      background-position: center center; /* Center the image */
    }
  }
  
  .skills-section,
  .projects-section,
  .contact-section {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  